{% extends 'base.html' %}


{% block content %}
<div class="container mt-3">
<h1 class="text-warning">This is my idea to implement Data Structure in web using Python/Django</h1>
    <h2 class="pt-4 text-danger">I want to implement these data structure :) </h2>

    <div class="p-3">
        <ul class="list-group">
          <li class="list-group-item">Recursion</li>
          <li class="list-group-item">Sorting</li>
          <li class="list-group-item">Linked List</li>
          <li class="list-group-item">Stack</li>
          <li class="list-group-item">Queue</li>
          <li class="list-group-item">Tree</li>
          <li class="list-group-item">Graph</li>
        </ul>
    </div>

</div>





{% endblock content %}