
{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bubble-sort' %}">Bubble</a></li>
    <li class="breadcrumb-item"><a href="{% url 'insertion-sort' %}">Insertion</a></li>
    <li class="breadcrumb-item"><a href="{% url 'selection-sort' %}">Selection</a></li>
    <li class="breadcrumb-item"><a href="#">Quick</a></li>
    <li class="breadcrumb-item"><a href="#">Merge</a></li>

  </ol>
</nav>
</div>


{% endblock content %}